@page "/"

@inherits LayoutComponentBase

<nav>
    <a href="/">Home</a> |
    <a href="/add-user">Add User</a> |
    <a href="/add-post">Add Post</a> |
    <a href="/posts">View Posts</a>
</nav>

<main>
    @Body
</main>